<%= turbo_frame_tag 'products-trending' do %>
  <div class="row">

    <% if products.empty? %>
      <h2 class="text-center text-secondary"> No Products</h2>
    <% else %>

      <% products.each do |product| %>
        <div class="col-lg-3 col-md-4">

          <!-- Start Single Product -->
          <div class="single-product">

            <div class="product-image">
              <%= link_to image_tag(product.img), product, data: {turbo_frame: '_top'} %>
            </div>

            <div class="product-info">
              <span class="category"></span>

              <h4 class="title">
                <%= link_to product.title, product, data: {turbo_frame: '_top'} %>
              </h4>

           <%= render 'product/review' %>

              <div class="price">
                <span>Price:<%= product.price %>$</span>



                <%= render 'likes/like_button', product: product, target: 'Products-trending' %>

              </div>
            </div>
          </div>
          <!-- End Single Product -->

        </div>
      <% end %>
    <% end %>
  </div>
<% end %>