<%= turbo_frame_tag "products-search" do %>
  <div class="row">

    <% if products.empty? %>
      <div class="shopping-item">
        <h2 class="text-center text-secondary"> No Products</h2>
      </div>
      <% else %>

        <% @products.each do |product| %>

          <div class="col-lg-3 col-md-4">
            <%= turbo_frame_tag product, loading: :lazy do %>
              <!-- Start Single Product -->

              <div class="single-product">
                <div class="product-image">
                  <%= link_to image_tag(product.image_first), product, data: {turbo_frame: '_top' } %>
                </div>
                <div class="product-info">
                  <span class="category"></span>
                  <h4 class="title">
                    <%= link_to product.title, product, data: {turbo_frame: '_top' } %>
                  </h4>

                  <%= render 'products/rating' , product: product %>

                    <div class="price">
                      <span>Price: <%= product.price %>$</span>

                    </div>
                </div>
              </div>

              <!-- End Single Product -->
              <% end %>
          </div>

          <% end %>

            <% end %>
  </div>
  <% end %>