<!-- Start Trending Product Area -->
<section class="trending-product section" style="margin-top: 12px;">
    <div class="container">
      <% if params[:query].present? %>
        <%= turbo_frame_tag  "hits" do %>
          <div class="row">
              <div class="col-12">
                  <div class="section-title">
                      <h2>Search Result</h2>
                  </div>
              </div>
          </div>

          <% if @hits.nil? %>
            <h2> No Products</h2>
          <% else %>
            <div class="row">
              <% @hits.hit.each do |h| %>
                <div class="col-lg-3 col-md-4">
                  <!-- Start Single Product -->
                  <div id="<%= dom_id h %>">
                    <div class="single-product">
                      <div class="product-image">
                        <a href="product/<%= h.id %>">
                          <%= image_tag h.img %></a>
                        <div class="button">
                          <%= form_with(url: cart_add_path) do |form| %>
                            <%= form.hidden_field :id, value: h.id %>
                            <%= form.hidden_field :quantity, value: 1 %>
                            <%= button_tag(type: form.submit, class: 'btn') do %>
                              <i class="bi bi-cart"></i> Add to Cart
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                      <div class="product-info">
                        <span class="category"></span>
                        <h4 class="title">
                          <a href="product/<%= h.id %>">
                            <%= h.title %></a>
                        </h4>
                        <div class="price">
                                    <span>Price:
                                      <%= h.price %>$
                                    </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Single Product -->
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>

      <% else %>
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>Trending Product</h2>
            </div>
          </div>
        </div>

        <% if @hits.nil? %>
          <h2> No Products</h2>
        <% else %>
          <div class="row">
            <% @hits.hit.each do |h| %>
              <div class="col-lg-3 col-md-4">
                <!-- Start Single Product -->
                  <div id="<%= dom_id h %>">
                    <div class="single-product">
                      <div class="product-image">
                        <a href="product/<%= h.id %>">
                          <%= image_tag h.img %></a>
                        <div class="button">
                          <%= form_with(url: cart_add_path) do |form| %>
                            <%= form.hidden_field :id, value: h.id %>
                            <%= form.hidden_field :quantity, value: 1 %>
                            <%= button_tag(type: form.submit, class: 'btn') do %>
                              <i class="bi bi-cart"></i> Add to Cart
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                      <div class="product-info">
                        <span class="category"></span>
                        <h4 class="title">
                          <a href="product/<%= h.id %>">
                            <%= h.title %></a>
                        </h4>
                        <div class="price">
                                    <span>Price:
                                      <%= h.price %>$
                                    </span>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- End Single Product -->
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
</section>
<!-- End Trending Product Area -->

<%= render 'shared/banner_area' %>