

<!-- Start Trending Product Area -->
<section class="trending-product section" style="margin-top: 12px;">
  <div class="container">
    <div class="row">

      <% if @category.products.empty? %>

        <div class="shopping-item">
          <h2 class="text-center text-secondary"> No Products</h2>
        </div>

      <% else %>

      <ol class="breadcrumb mx-3">

        <%= render_breadcrumbs tag: :li, separator: '>'%>

      </ol>
      <div class="col-12">
        <div class="section-title">
          <h2><%= @category.title %> <%= "for #{@category.parent.title}" if @category.parent %></h2>
        </div>
        <div class="product-sort">

          <%= render 'category/products_sort' %>

        </div>
      </div>
      <div class="row">
        <% @products.includes([images_attachments: :blob]).each do |product| %>
          <div class="col-lg-3 col-md-4">
            <!-- Start Single Product -->
            <div class="single-product">

              <div class="product-image">
                <%= link_to image_tag(product.images.first), product, data: {turbo_frame: '_top'} %>
              </div>

              <div class="product-info">
                <span class="category"></span>

                <h4 class="title">
                  <%= link_to product.title, product, data: {turbo_frame: '_top'} %>
                </h4>

                <%= render 'products/rating', product: product %>

                <div class="price">
                  <span>Price:<%= product.price %>$</span>
                </div>

              </div>
            </div>
            <!-- End Single Product -->
          </div>
        <% end %>



      </div>
    <% end %>

      <%= paginate @products %>

    </div>
  </div>
</section>
<!-- End Trending Product Area -->

<%= render 'shared/banner_area' %>