

<!-- Start Trending Product Area -->
<section class="trending-product section" style="margin-top: 12px;">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb mx-3">
        <li><%= link_to render_breadcrumbs %>></li>
        <li class="active"><%= "#{@category.parent.title}>" if @category.parent %></li>
        <li class="active"><%= @category.title %></li>
      </ol>
      <div class="col-12">
        <div class="section-title">
          <h2><%= @category.title %> <%= "for #{@category.parent.title}" if @category.parent %></h2>
        </div>
        <div class="product-sort">

          <%= render 'category/products_sort' %>

        </div>
      </div>
    </div>



    <% if @category.products.empty? %>
      <h2> No Products</h2>
    <% else %>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-lg-3 col-md-4">
            <!-- Start Single Product -->
            <div id="<%= dom_id product %>">
              <div class="single-product">
                <div class="product-image">
                    <%= link_to image_tag(product.img), product %>
                  <div class="button">
                    <%= form_with(url: cart_add_path) do |form| %>
                      <%= form.hidden_field :id, value: product.id %>
                      <%= form.hidden_field :quantity, value: 1 %>
                      <%= button_tag(type: form.submit, class: 'btn') do %>
                        <i class="bi bi-cart"></i> Add to Cart
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="product-info">
                  <span class="category"><%= product.title %></span>
                  <h4 class="title">
                    <a href="product/<%= product.id %>">
                      <%= product.title %></a>
                  </h4>
                  <div class="price">
                                  <span>Price:
                                    <%= product.price %>$
                                  </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
          </div>
        <% end %>



      </div>
    <% end %>

      <%= paginate @products %>

  </div>
</section>
<!-- End Trending Product Area -->

<%= render 'shared/banner_area' %>