<% currently_at 'cart' %>

<!-- Start Trending Product Area -->
<section class="trending-product section" style="margin-top: 12px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Your Cart</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <% @cart.orderables.each do |orderable| %>
        <% product = orderable.product %>
        <div class="col-lg-3 col-md-4">
          <!-- Start Single Product -->
            <div class="single-product">
              <div class="product-image">
                <a href="product/<%= product.id %>">
                  <%= image_tag product.img %></a>
              </div>
              <div class="product-info">
                <span class="category"></span>
                <h4 class="title">
                  <a href="product/<%= product.id %>">
                    <%= product.title %></a>
                </h4>
                <div class="price">

                  <span>Price: <%= product.price %>$ x <%= orderable.quantity %> </span>
                  <p>Total: <%= orderable.total %>$</p>

                </div>
              </div>
            </div>
          <!-- End Single Product -->
        </div>
      <% end %>
      <div class="col-12">
        <div class="section-title">
          <div class="bottom">
            <div class="button my-5">
              <h2>Total: <%= @cart.total.round(2) %>$</h2>
              <a href="checkout.html" class="btn animate">Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Trending Product Area -->

<!-- Start Banner Area -->
<section class="banner section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="single-banner" style="background-image:url('assets/images/banner/banner-1-bg.jpg')">
          <div class="content">
            <h2>Smart Watch 2.0</h2>
            <p>Space Gray Aluminum Case with <br>Black/Volt Real Sport Band </p>
            <div class="button">
              <a href="product-grids.html" class="btn">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="single-banner custom-responsive-margin"
             style="background-image:url('assets/images/banner/banner-2-bg.jpg')">
          <div class="content">
            <h2>Smart Headphone</h2>
            <p>Lorem ipsum dolor sit amet, <br>eiusmod tempor
              incididunt ut labore.</p>
            <div class="button">
              <a href="product-grids.html" class="btn">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->
