<!-- Start Favorite Products Area -->
<section class="trending-product section" style="margin-top: 12px;">
  <div class="container">

    <% if current_user.likes.empty? %>
      <h2 class="text-center text-secondary"> No Products</h2>
    <% else %>

    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Favorite Products</h2>
        </div>
      </div>

      <% current_user.likes.each do |like| %>
        <% Product.where(id: like.product_id.to_i).each do |product| %>
          <div class="col-lg-3 col-md-4">
            <!-- Start Single Product -->
            <div id="<%= dom_id product %>">
              <div class="single-product">
                <div class="product-image">
                  <a href="product/<%= product.id %>">
                    <%= image_tag product.img %></a>
                  <div class="button">
                    <%= form_with(url: cart_add_path) do |form| %>
                      <%= form.hidden_field :id, value: product.id %>
                      <%= form.hidden_field :quantity, value: 1 %>
                      <%= button_tag(type: form.submit, class: 'btn') do %>
                        <i class="bi bi-cart"></i> Add to Cart
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="product-info">
                  <span class="category"></span>
                  <h4 class="title">
                    <a href="product/<%= product.id %>">
                      <%= product.title %></a>
                  </h4>
                  <ul class="review">
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star"></i></li>
                    <li><span>4.0 Review(s)</span></li>
                  </ul>
                  <div class="price">
                    <span>Price:<%= product.price %>$</span>

                    <%= render 'likes/like_button', product: product %>

                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Product -->
          </div>
        <% end %>
      <% end %>
     </div>
    <% end %>
  </div>
</section>
<!-- End Favorite Products Area -->
