<!-- Start Header Middle -->
<div class="header-middle">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-3 col-7">
        <!-- Start Header Logo -->
        <a class="navbar-brand" href="<%=root_path %>">
          <%= image_tag 'logo/logo.svg', size: '60', alt: 'logo' %>
        </a>
        <!-- End Header Logo -->
      </div>

      <%= render 'shared/search' %>


      <div class="col-lg-4 col-md-2 col-5">
        <div class="middle-right-area">
          <div class="nav-hotline">
            <i class="bi bi-telephone"></i>
            <h3>Telephone:
              <span>
                    <%= phone_to Company.first.phone_number, Company.first.phone, country_code: "7", class: 'text-decoration-none text-reset' %>
                  </span>
            </h3>
          </div>
          <div class="navbar-cart">

            <%= render 'shared/theme' %>

          <% if user_signed_in? %>
            <div class="wishlist">
              <%= link_to orders_path, title: 'Orders'  do %>
                <i class="bi bi-clipboard-check"></i>
              <% end %>
            </div>


            <%= render 'favorites/favorites_quantity' %>

          <% end %>

            <%= render 'cart/cart_quantity' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Header Middle -->
