<%= turbo_frame_tag answer do %>
  <div class="single-product answer mx-2">
  <div class="avatar small">
    <%= image_tag current_user.user_avatar, size: 40 %>
    <span class="text-dark"><%=  answer.user.name %></span>
    <small><%= format_created_at(answer) %></small>
  </div>
      <br><br>
    <div class="answer"><%= sanitize answer.body %></div>

  <% if current_user.admin? %>
      <div class="button mx-3 my-2">
        <%= link_to 'Edit', edit_review_answer_path(review, answer),
                    class: 'btn-small' %>

        <%= link_to 'Delete', review_answer_path(review, answer), class: 'btn-small',
                    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      </div>
  <% end %>
  </div>
<% end %>