<%= turbo_frame_tag 'order' do %>
    <div class="single-product">
      <div id="<%="order-#{order.id}" %>">

        <h5>Order #<%= order.id %>
          <span class="text-secondary mx-2"><small><%= order.created_at.strftime("%d-%m-%Y | %H:%M") %></small></span>
          <span><small><%= order.status %></small></span>
        </h5><br>
        <table>
          <tr>
            <th><span>Name:</span> <%= order.name %></th>
            <th><span>Email:</span> <%= order.email %></th>
            <th><span>Address:</span> <%= order.address %></th>
            <th><span>Phone:</span> <%= order.phone%></th>
            <th><span>Payment method:</span> <%= order.pay_type %></th>
          </tr>
        </table><br>

          <% order.product_id_and_quantity.each do |product_id, quantity| %>

            <table>
              <tr>
                <% Product.where(id: product_id.to_i).each do |product| %>
                  <td><span><%= link_to image_tag(product.img, size: 100), product %></span></td>
                  <td><span><%= product.title %></span></td>
                  <td><span>Price: <%= product.price %>$</span></td>
                  <td><span>Quantity: <%= quantity%></span></td>
                  <td><span>Total: <%= (quantity * product.price).round(2) %></span></td>
                <% end %>
             </tr>
           </table><br>

          <% end %>

        <div class="col-12">
          <div class="section-title">
            <div class="bottom">
              <div class="button">
                <%= link_to 'Pay', '#' ,class: 'btn animate' if order.pay_type.to_i == 0 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
