<%= turbo_frame_tag 'order', loading: :lazy do %>
  <!-- Start Orders Area -->
    <div class="single-product">
      <div class="order">

        <h5>Order #<%= order.created_at.strftime('%Y%m%d-%H%M%S') %>
          <span class="text-secondary mx-2"><small><%= order.created_at.strftime("%d-%m-%Y, %H:%M") %></small></span>
          <span><small><%= order.status %></small></span>
        </h5><br>
        <table class="user">
          <tr>
            <th><span>Name:</span> <%= order.name %></th>
            <th><span>Email:</span> <%= order.email %></th>
            <th><span>Address:</span> <%= order.address %></th>
            <th><span>Phone:</span> <%= order.phone%></th>
            <th><span>Payment method:</span> <%= order.pay_type %></th>
          </tr>
        </table><br>

          <% order.order_items.includes([:product]).each do |item| %>
            <% product = item.product %>
            
            <table>
              <tr>
                <td><span><%= link_to image_tag(item.product.images.first, size: 100), item.product, data: {turbo_frame: '_top'} %></span></td>
                <td><span><%= product.title %></span></td>
                <td><span>Color: <%= product.color.capitalize %></span></td>
                <td><span>Size: <%= item.size %></span></td>
                <td><span>Price: <%= product.price %>$</span></td>
                <td><span>Quantity: <%= item.quantity %></span></td>
             </tr>
           </table><br>

          <% end %>

        <div class="col-12">
          <div class="section-title">
            <div class="bottom">
              <div class="button my-5">
                <h2>
                  Total: <%= order.total(order).round(2) %>$</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="section-title">
            <div class="bottom">
              <div class="button">
                <%= link_to 'Pay', '#' , data: {turbo_frame: '_top'}, class: 'btn animate' if order.pay_type.to_i == 0 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- End Orders Area -->
  <% end %>
