<div class="col-lg-5 col-md-4">

  <%= render 'product/images_carousel', product: product %>

  <div class="mt-3" id="flash" ><%= render 'shared/flash' %></div>

  <%= render 'comments/comments', product: product %>

</div>

<div class="col-lg-7 col-md-4">

  <!-- Start Single Product -->
  <div class="single-product">
    <div class="product-info">

      <span class="category"><%= product.category.title %></span>

      <h4 class="title"><%= product.title %></h4><br>

      <h5 class="description"><%= product.description %></h5><br>

      <h5 class="color">Color: <%= product.color.upcase %></h5><br>

      <%= render 'product/button_add_to_cart', product: product %>

    </div>
  </div>


  <%= render 'comments/new', product: product %>




  <!-- End Single Product -->

</div>

