<% recent_products.each do |recently| %>
  <div class="col-lg-3 col-md-4">
    <!-- Start Single Product -->
    <div class="single-product">
      <div class="product-image">
        <a href="<%= recently.id %>">
          <%= image_tag recently.img %>
        </a>
      </div>
      <div class="product-info">
        <span class="category"><%= product.category.title %></span>
        <h4 class="title">
          <a href="<%= recently.id %>">
            <%= recently.title %></a>
        </h4>
        <div class="price">
                                <span> Price:
                                  <%= recently.price %>$
                                </span>
        </div>
      </div>
    </div>
    <!-- End Single Product -->
  </div>
<% end %>