<%= turbo_frame_tag review do %>
  <div class="single-product">
    <div style="padding: 15px 15px 15px">
      <%= simple_form_for [ product, review ] do |form| %>
        <% if  review.errors.any? %>
          <%= render 'shared/flash' %>
        <% end %>
        <h5 class="star-bar">

        <% Review::MAX_RATING.times do |n| %>
          <%= form.radio_button :rating, n + 1, style: 'display:none' %>
          <%= form.label :rating, '',
            data: { controller: "star-bar",
              option: "false",
              action: "click->star-bar#changeclass", value: n + 1 },
              id: "star-deactivated",
              style: "cursor:pointer; color: #fecb00; padding: 8px;",
              class: "bi bi-star" %>
        <% end %>
        </h5>
          <%= form.input :body, label: false,  input_html: { lenght: {minimum: 3, maximum: 400}, placeholder: 'Your review', size: 40, autocompelete: 'on' } %><br>
          <div class="button">
            <%= button_tag(type: form.submit, class: 'btn animate') do %>
              Sent
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
<% end %>